.flex
  display: flex
.flex-center
  justify-content: center
  align-items: center
.justify-between
  justify-content: space-between
.items-center
  align-items: center
.a-px-md
  padding-left: $md
  padding-right: $md
.a-ml-md
  margin-left: $md
.a-mt-lg
  margin-top: $lg