<div class="subjects index">  
  <h2>Update Subject</h2>
  <%= form_for(@subject) do |f| %>
    <%= render partial: 'form', locals: { :f => f } %>
    <div>
      <%= f.submit("Update Subject") %>
    </div>
  <% end %>
</div>