<div class="subjects index">
  <%= link_to '< Back', subjects_path, :class => 'back-link' %>
  <h2>New Subject</h2>

  <%#=
    form_for(@subject, :url => subjects_path, :method => 'post') do |f|
  %>
  <%# This can be simplified as below %>
  <%= form_for(@subject) do |f| %>
    <%#= render partial: 'form', :locals => { :f => f }%>
    <%= render partial: 'form', locals: { :f => f } %>
    <div>
      <%= f.submit("Create Subject") %>
    </div>
  <% end %>
</div>