<div class="sections index">
  <%= link_to '< Back', sections_path, :class => 'back-link' %>
  <h2>New Section</h2>
  <%= form_for(@section) do |s| %>
    <%= render partial: 'form', locals: { :s => s } %>
    <div>
      <%= s.submit("Create Section") %>
    </div>
  <% end %>
</div>