.lists-container
  display: flex
  flex-direction: row
  box-sizing: border-box
  flex-wrap: nowrap

.add-new
  position: fixed
  bottom: 20px
  right 20px

.drag-enter
  background-color: red !important
