<div class="full-height lists-container">
  <app-task-list
    *ngFor="let l of lists"
  >
    <app-task-header
      [header]="l.name"
      (newTask)="launchNewTaskDialog()"
      (editTaskListName)="launchEditTaskListNameDialog()"
      (moveTask)="launchMoveTaskDialog()"
      (deleteTask)="launchDeleteTaskDialoa()"
    ></app-task-header>
    <app-task-item
      *ngFor="let t of l.tasks"
      [item]="t"
      (editTaskItem)="launchUpdateTaskDialog(t)"
    >
    </app-task-item>
  </app-task-list>
</div>
<button
  class="add-new"
  mat-fab
  (click)="onAddListClick()"
>
  <mat-icon>add</mat-icon>
</button>
