@import './normalize.less';

// app global css
@font-face {
  font-family: 'ProductSansThin';
  src: local('ProductSans-Thin'), url(./fonts/ProductSansThin.ttf);
}
@font-face {
  font-family: 'ProductSans';
  src: local('Product Sans Regular'), url(./fonts/ProductSansRegular.ttf);
}
@font-face {
  font-family: 'ProductSansBold';
  src: local('Product Sans Bold'), url(./fonts/ProductSansBold.ttf);
}

body {
  font-family: "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif
}
