<div class="site">
  <header>
    <app-header (toggle)="snav.toggle()"></app-header>
  </header>
  <mat-sidenav-container class="main">
    <mat-sidenav
      #snav
      [opened]="mobileQuery.matches ? false : true"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      position="start"
    >
      <mat-nav-list>
        <a
          mat-list-item
          routerLink="/blog/programming"
          routerLinkActive="active"
        >Programming</a>
        <a
          mat-list-item
          routerLink="/blog/uiux"
          routerLinkActive="active"
        >UI & UX</a>
        <a
          mat-list-item
          routerLink="/blog/design"
          routerLinkActive="active"
        >Design</a>
      </mat-nav-list>
    </mat-sidenav>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>
