.list
  flex-wrap: wrap
  width 100%
.list-item
  width: 33.33%
  box-sizing: border-box
.flex-center
  display: flex
  justify-content: center
  align-items: center
.title
  font-size: 24px
  font-weight: 700
  text-align: center
.add-new
  position: fixed
  bottom: 20px
  right 20px

@media only screen and (max-width: 1400px)
  .list-item
    width: 50%

@media only screen and (max-width: 800px)
  .list-item
    width: 100%
