<div class="a-pa-md title">{{category | uppercase}}</div>
<div class="a-pa-md flex-center full-width">
  <mat-form-field
    class="full-width"
    style="max-width: 600px;"
  >
    <input
      matInput
      aria-label="Filter"
      placeholder="Filter"
      [(ngModel)]="filter"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="diaplayWithBlog"
    >
      <mat-option
        *ngFor="let b of filteredBlogs"
        [value]="b.title"
      >
        {{b.title}}
      </mat-option>
    </mat-autocomplete>
    <!-- <mat-hint>Filtered By: {{_filter | lowercase | convertToSpaces: '-'}}</mat-hint> -->
  </mat-form-field>
</div>
<div class="list flex full-width">
  <div
    class="a-pa-md list-item"
    *ngFor="let b of filteredBlogs"
  >
    <app-list-item [item]="b">
    </app-list-item>
  </div>
</div>
<div *ngIf="filteredBlogs && filteredBlogs.length <= 0">
  Empty
</div>
<button
  class="add-new"
  mat-fab
  (click)="openNewBlogDialog()"
>
  <mat-icon>add</mat-icon>
</button>
