<div class="sections index">
  <%= link_to '< Back', sections_path, :class => 'back-link' %>
  <h2>Update Section</h2>
  <%= form_for(@section) do |f| %>
    <%= render partial: 'form', locals: { :f => f } %>
    <div>
      <%= f.submit("Update Section") %>
    </div>
  <% end %>
</div>