.card
  margin-top: 20px
  cursor pointer
.priority-normal
  border-left 4px solid #d8d8d8
.priority-important
  border-left 4px solid #8dc6ee
.priority-emergancy
  border-left 4px solid #404ebc
.drag-start
  border-top 1px dashed #c8c8c8
  border-right 1px dashed #c8c8c8
  border-bottom 1px dashed #c8c8c8
.drag-end
  border-top none
  border-right none
  border-bottom none
