<mat-card
  class="card"
  [ngClass]="{
    'priority-normal': item.priority === 3,
    'priority-important': item.priority === 2,
    'priority-emergancy': item.priority === 1
  }"
  [@card]="cardState"
  (click)="onTaskItemClick()"
>
  <mat-list-item>
    <div class="flex">
      <mat-checkbox
        [checked]="item.complete"
        (click)="onCheckBoxClick($event)"
      ></mat-checkbox>
      <div class="a-ml-md">
        <div class="content">
          {{item.desc}}
        </div>
        <div class="bottom-bar a-mt-sm text-grey" *ngIf="item.dueDate">
          {{item.dueDate | date: "yyyy-MM-dd"}}
        </div>
        <!-- <mat-icon *ngIf="item.reminder">alarm</mat-icon> -->
      </div>
    </div>
  </mat-list-item>
</mat-card>
