* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #2870ff;
}

.app {
  display: flex;
}
.app,
.left {
  min-height: 100vh;
}

.left {
  width: 240px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #f3f3f3;
  border-right: 1px solid #d8d8d8;
}

.menu {
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.menu-active {
  background-color: #e3e3e3;
}

.menu:hover {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e8e8e8;
}

.right {
  padding: 20px;
}
