.message-container
  display: flex
  align-items: center
.message-icon
  position relative
  text-align: right
  &:hover
    .messages
      visibility visible
  .icon
    display: flex
    justify-content: center
    align-items: center  
    width: 40px
    height 40px
    background-color: red
.messages
  position absolute
  text-align: left
  top 30px
  right 0
  background-color: white
  border: 1px solid #e8e8e8
  padding: 10px
  border-radius: 4px
  visibility: hidden
  z-index 1
  width: 100vw
  max-width: 600px
