.letter-avatar
  width 36px
  height 36px
  line-height 36px
  text-align center
  background-color #d7e8f5
  border-radius 50%
  font-weight 700
  color black

.btn-container
  display flex
  align-items center
  justify-content center
  .q-btn:not(:first-child)
    margin-left 10px

.btn-container-margin
  .q-btn, .q-select
    margin .2rem

.cursor-move
  cursor ns-resize
  opacity 1

.c-title-lg
  font-size 1.6rem
  font-weight 700

.c-title-md
  font-size 1.2rem
  font-weight 700

.c-bl-2
  border-left 2px solid $secondary

.c-none-pointer-events
  pointer-events none

.c-loading-layer
  position absolute
  z-index 10
  top 0
  bottom 0
  left 0
  right 0
  background rgba(0,0,0,.1)

.c-loading
  width: 260px
  height 260px
  background-color #FFF
  position relative
  .logo
    width 60%
    margin-top -1rem
    max-width 140px
  .loading-bar-container
    width 70%
    max-width 160px
    height 4px
    border-radius 2px
    background-color $blue-grey-1
    overflow hidden
    .bar
      height 4px
      width 50px
      background-color $blue-grey-3
      animation-name loading-bar-anim
      animation-duration 2s
      animation-iteration-count infinite

.condition-container
  height 32px
  .field
    width 180px
  .operator
    width 140px
    text-align left
    color $blue-grey-6

.a-no-px .q-item
  padding-left 0
  padding-right 0

@keyframes loading-bar-anim {
    from {
      background-color: $blue-grey-1
      transform: translate(-50px)
    }
    to {
      background-color: $secondary
      transform: translate(160px)
    }
}
