@import '~variables'
.main-logo
  width: 9rem
  vertical-align: middle
  cursor pointer

.q-layout-drawer-left
  background-color: #102635 !important
  width: 220px !important
  .q-list
    color: #FFF
    .q-item
      .q-item-main
        .q-item-sublabel
          color: $blue-grey-4
    .q-icon
      color: #FFF
    .q-item-letter
      color: #FFF
      font-size: 1rem
      font-weight: 900
    .router-link-exact-active
      background-color: $primary
  .q-item-link
      &:hover
        background-color: #2c4456
      &.router-link-exact-active
        background-color: $primary
  .q-collapsible
    .q-collapsible-inner
      .q-collapsible-sub-item
        padding: 0
.q-layout-page, .q-layout-page-container
  background-color: #ebedf2
