<form>
    <h2 class="title" mat-dialog-title>{{title}}</h2>
    <div mat-dialog-content>
      <div class="column">
        <mat-form-field>
          <input
            matInput
            placeholder="Title"
          />
        </mat-form-field>
        <mat-radio-group class="a-mt-md">
          <mat-radio-button
            class="radio-btn"
            *ngFor="let priority of priorities"
            [value]="priority.value"
          >
            {{priority.label}}
          </mat-radio-button>
        </mat-radio-group>
        <mat-form-field class="a-mt-xl">
          <input
            matInput
            [matDatepicker]="dueDatepicker"
            placeholder="Choose a date"
          >
          <mat-datepicker-toggle
            matSuffix
            [for]="dueDatepicker"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #dueDatepicker
          ></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="reminderDatepicker"
            placeholder="Choose a date"
          >
          <mat-datepicker-toggle
            matSuffix
            [for]="reminderDatepicker"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #reminderDatepicker
          ></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="flex-center" mat-dialog-actions>
      <button mat-stroked-button>No Thanks</button>
      <button
        style="margin-left: 10px;"
        mat-stroked-button
        (click)="onSave()"
      >
        Save
      </button>
    </div>
  </form>
