.header
  background-color: #f3f3f3
  height 50px
  display: flex
  align-items: center
  justify-content: center
  font-weight: 700
.container
  display flex
  justify-content: center
.item-container
  width: 100%
  max-width 800px
  display: flex
  flex-direction: column