<div
  class="flex between items-center header"
>
  <div>{{header}}</div>
  <!-- <div> -->
    <!-- <button mat-button>
      <mat-icon style="margin-right: 10px;">add_circle_outline</mat-icon>
      <span>New</span>
    </button> -->
  <!-- </div> -->
  <div>
    <button mat-icon-button [matMenuTriggerFor]='menu'>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>mode_edit</mat-icon>
    <span>Edit List Name</span>
  </button>
  <button mat-menu-item>
    <mat-icon [svgIcon]="'move'"></mat-icon>
    <span>Move List</span>
  </button>
  <button mat-menu-item>
    <mat-icon>delete_forever</mat-icon>
    <span>Delete List</span>
  </button>
</mat-menu>
