<div
  class="flex between items-center header"
>
  <div class="flex items-center">
    <span>{{header}}</span>
    <button
      mat-icon-button
      style="margin-left: 10px;"
      (click)="onNewTaskClick()"
    >
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </div>
  <div>
    <button mat-icon-button [matMenuTriggerFor]='menu'>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    (click)="onEditTaskListName()"
  >
    <mat-icon>mode_edit</mat-icon>
    <span>Edit List Name</span>
  </button>
  <button
    mat-menu-item
    (click)="onMoveTaskClick()"
  >
    <mat-icon [svgIcon]="'move'"></mat-icon>
    <span>Move List</span>
  </button>
  <button
    mat-menu-item
    (click)="onDeleteClick()"
  >
    <mat-icon>delete_forever</mat-icon>
    <span>Delete List</span>
  </button>
</mat-menu>
